@charset "UTF-8";
@font-face{
    font-family: "Fonte-logo";
    src: url(../fonts/ZhiMangXing-Regular.ttf);
}
@font-face{
    font-family: "FonteSub";
    src: url(../fonts/Raleway-LightItalic.ttf);
}

p{
    text-align: justify; 
    text-indent: 20px;
}
body{
   background-color: #dddddd;
   font-family: 'FonteSub';
}
div#interface {
    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

header#cabecalho img#icone {
    position: absolute;
    left: 955px ;
    top: 70px;
   
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 180px;
    background: url("../img/glass-logo-peq.png") no-repeat 0px 70px;
}

header#cabecalho h1 {
    font-family: 'Fonte-logo';
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-bottom: 0px;
}
header#cabecalho h2{
    font-family: 'FonteSub';
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 5px;

}
/* Formatação de imagens com legenda */

figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
        opacity: 0;
        position: absolute;
        top: 0px;
        background-color: rgba(0,0, 0, 0.4);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
    opacity: 1;
}

/* Formataçao do menu*/

nav#menu {
    display: block;
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    left: 500px;
}

nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px -1px 2px -1px;
    transition: background-color 1s;
}

nav#menu li:hover{
    background-color: #606060;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: black;
    text-decoration: none; /* tira o sublinhado*/
    transition: color 0.5s;

}

nav#menu a:hover{
    color: white;
}

/*Formatação das Seções da página*/
section#corpo{
    display: block;
    width: 500px;
    float: left;
    border-right: 1px #606060 solid;
    padding-right: 15px;
}
aside#lateral{
    display: block;
    width: 350px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
footer#rodape {
    clear: both;
    border-top: #606060 1px solid;
}

footer#rodape p {
    text-align: center;
}

/* Formatação do corpo*/
table#tabespec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabespec td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: top;

}

table#tabespec td.ce{
    color: white;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}
table#tabespec td.cd{
    background-color: #cecece;
    text-align: left;
}

table#tabespec caption{
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table#tabespec caption span {
    color: black;
    font-size: 8pt;
    margin-top: 10px;
    display: block;
    float: right;
}

/*Formatação dos artigos*/
article#noticia-principal h2{
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;

}
header#cabecalho-artigo h1 {
    font-family: 'Fonte-logo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}
header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #9b9797;
    background-color: #ffffff;
    margin: 0px;
}
header#cabecalho-artigo h3 {
    font-size: 12pt;
    color: #606060;
}

.direita {
    text-align: right;
}

/*Formatação de links*/

a {
    color: #606060;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

aside#lateral h1 {
    font-family: 'Fonte-logo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}
aside#lateral h2 {
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;
}
